{% extends 'base.html' %}

{% block title %}
password reset complete
{% endblock %}

{% block content %}
<section class="section gb ">
            <div class="container">
                <div class="boxed">
                    <div class="row">
                        <div class="col-md-8">




   <div class="content boxed-comment clearfix">
	   <h4 align="center">Password changed successfully</h4>
<p> You have successfully reset your password. Please<a href="{% url 'login' %}"> Login.</a> </p>   </div></div>
</div>




                        </div>
                    </div>
                </div>
            </div>
</section>

{% endblock %}
