{% extends 'base.html' %}

{% block title %}
password Reset
{% endblock %}

{% block content %}

<section class="section gb ">
            <div class="container">
                <div class="boxed">
                    <div class="row">
                        <div class="col-md-8">




   <div class="content boxed-comment clearfix">
<h4 align="center">Email sent</h4>
<p> We've sent email to you address. Follow the instructions to change your password.
<a href="{% url 'password_reset' %}"><br>Resend email</a> </p>
   </div>
                        </div>
                    </div>
                </div>
            </div>
</section>

{% endblock %}
