{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
password reset
{% endblock %}

{% block content %}
<section class="section gb ">
            <div class="container">
                <div class="boxed">
                    <div class="row">
                        <div class="col-md-8">




   <div class="content boxed-comment clearfix">



<form method="post" class="big-contact-form" action=""><br><br>

<h4 align="center">Reset password</h4>
<p>please enter you email address to reset your password</p>
{% csrf_token %}
{{ form|crispy}}



<button type="submit" class="btn btn-primary">Submit</button>
    <input type="hidden" name="next" value="{{ next }}"> </form>
          </div>




                        </div>
                    </div>
                </div>
            </div>
</section>
{% endblock %}
