{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
Home
{% endblock %}

{% block content %}
<section id="home" class="video-section js-height-full">
            <div class="overlay"></div>
            <div class="home-text-wrapper relative container">
                <div class="home-message">
                    <p>Looking For Investment Oppurtunities In Africa?</p>
                    <small>Explore within thousands of African Startup available.</small>
                    <div class="btn-wrapper">
                        <div class="text-center">
                            <a href="{% url 'listing_home' %}" class="btn btn-primary wow slideInLeft">EXPLORE</a> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div><!-- end row -->
                </div>
            </div>
            <div class="slider-bottom">
                <span>Articles <i class="fa fa-angle-down"></i></span>
            </div>
        </section>




        <section class="section gb">
            <div class="container">
                <div class="section-title text-center">
                    <h3>Most Popular Articles</h3>
                </div><!-- end title -->



                <div class="row">
                     {% if instance %}
                {% for Article in instance %}
                {% if Article.popular %}
                    <div class="col-lg-4 col-md-12">
                        <div class="blog-box">
                            <div class="image-wrap entry">

                                 {% thumbnail Article.preview_image "380x200" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}


                            </div><!-- end image-wrap -->

                            <div class="blog-desc">
                                <h4><a href="{% url 'detail' Article.slug %}">{{ Article.title}}</a></h4>
                                <p>{{ Article.summary|truncatechars:250  }}</p>
                            </div><!-- end blog-desc -->

                            <div class="post-meta">
                                <ul class="list-inline">
                                    <li><a href="#" align="center">{{Article.pub_date|timesince}} ago</a></li>

                            </div><!-- end post-meta -->

                        </div><!-- end blog -->



                    </div><!-- end col -->
                     {% endif %}
                         {% endfor %}
                         {% endif %}




                </div><!-- end row -->
            </div><!-- end container -->

        </section>





                <section class="section">
                    <h1 class="text-center">  <a href="{% url 'articles_list' %}" class="readmore " ><big>Recently added</big></a><hr ></h1>

                    <div class="container">



                        {% if instance %}
                {% for Article in instance %}
                        <div class="row">
                            <div class="col-md-4 hidden-sm hidden-xs">
                              <div class="image-wrap entry">
                                  {% thumbnail Article.preview_image "380x200"  as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}

                              </div><!-- end image-wrap -->

                            </div><!-- end col -->
                            <div class="col-md-8">
                                <div class="blog-wrapper clearfix">
                                            <div class="blog-meta blog-desc">

                                                <small><a href="{{ Article.category.get_absolute_url }}">{{ Article.category}}</a></small>



                                                <h4><a href="{% url 'detail' Article.slug %}"> {{ Article.title }}</a></h4>
                                                <p> {{ Article.summary|truncatechars:250   }}<a href="{% url 'detail' Article.slug%}">...</a></p>


                                                {% if Article.tags %}
                        <div class="widget clearfix">

                            <div class="tags-widget">
                                <ul class="list-inline">
                                    {% for tag in Article.tags.all %}
                                    <li><a href="{% url 'tagged' tag.slug%}">{{ tag.name}}</a></li>
                                    {% endfor %}

                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                            {% endif %}





                                                <hr class="invisible">

                                            </div><!-- end desc -->
                                        </div>
                            </div><!-- end col -->

                        </div><!-- end row --><hr>
                        {% endfor %}
                        {% endif %}



                      <hr class="invisible">
                      <p class="text-right">  <a href="{% url 'articles_list' %}" class="readmore " >View More</a></p>

                    </div><!-- end container -->
                </section>

{% endblock %}