{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
Search results for "{{ search_term}}"
{% endblock %}
{% block content %}
        <section class="section db p120" style="background-image:url('{% static 'upload/articles.jpg' %}');>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message page-title text-center">
                            <h3>Search results for "{{search_term}}"</h3>

                         </div><!-- end col -->
                    </div><!-- end row -->
                </div>
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section gb nopadtop">
            <div class="container">
                <div class="boxed">
                    <div class="row">
                        <div class="col-md-8">
<hr>





                                {% for Article in instance %}
                             <div class="row">
                            <div class="col-md-4 hidden-sm hidden-xs">
                              <div class="image-wrap entry">
                                 {% thumbnail Article.preview_image "250x250" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                                  <div class="magnifier">
                                       <a href="blog-single.html" title=""><i class="flaticon-add"></i></a>
                                  </div>
                              </div><!-- end image-wrap -->

                            </div><!-- end col -->
                            <div class="col-md-8">
                                <div class="blog-wrapper clearfix">
                                            <div class="blog-meta">

                                                <small><a href="{{ Article.category.get_absolute_url }}">{{ Article.category }}</a></small>
                                            </div><!-- end blog-meta -->

                                            <div class="blog-desc-big">
                                                <h1></h1> <a href="{% url 'detail' Article.slug %}" class="lead">{{ Article.title}}</a></h1>
                                                    <p>
                                                    {{ Article.summary|truncatechars:250   }}
                                                    </p>
                                                {% if Article.tags %}
                        <div class="widget clearfix">

                            <div class="tags-widget">
                                <ul class="list-inline">
                                    {% for tag in Article.tags.all %}
                                    <li><a href="{% url 'tagged' tag.slug%}">{{ tag.name}}</a></li>
                                    {% endfor %}

                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                            {% endif %}


                                            </div><!-- end desc -->
                                        </div>
                            </div><!-- end col -->
                               </div><!-- end row --><hr>
                            {% empty %}
                             <div class="col-md-12">
                        <div class="tagline-message page-title text-center">
                           <br> <p>No search results for "{{search_term}}"</p>

                         </div><!-- end col -->
                    </div><!-- end row -->
                               {% endfor %}

















                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="pagination">
                                        {% if instance.has_previous %}
                                        <li class="disabled"><a href="?page=1">&laquo;</a></li>
                                        {% endif %}
                                        {% if instance.has_previous %}
                                        <li class="disabled"><a href="?page={{ instance.previous_page_number }}">{{ instance.previous_page_number }}</a></li>
                                        <li class="active"><a href="">{{instance.number}}</a></li>
                                        {% endif %}
                                        {% if instance.has_next %}
                                        <li class="disabled"><a href="?page={{ instance.next_page_number }}">{{ instance.next_page_number }}</a></li>
                                        {% endif %}
                                        {% if instance.has_next %}
                                        <li class="disabled"><a href="?page={{ instance.paginator.num_pages }}">&raquo;</a></li>
                                        {% endif %}

                                    </ul>
                                </div><!-- end col -->
                            </div><!-- end row -->
                            <p><small>Page {{ instance.number }} of {{ instance.paginator.num_pages }}</small></p>
                        </div><!-- end col -->

                        <div class="sidebar col-md-4">
                            <div class="widget clearfix">
                                <div class="banner-widget">
                                    <img src="upload/banner.jpeg" alt="" class="img-responsive img-rounded">
                                </div>
                            </div>


                           <div class="widget clearfix">
                                <h3 class="widget-title">All Categories</h3>

                                    <ul class="list-inline">
                                        {% for category in categories %}
                                           <div class="blog-meta">
                                               <li> <small><a href="{% url 'category_list' category.slug %}">{{category.name }}</a></small> </li>
                                            </div><!-- end blog-meta -->
                                        {% endfor %}
                                    </ul>

                            </div><!-- end widget -->

                            <div class="widget clearfix">
                                <h3 class="widget-title">Subscribe Our Newsletter</h3>
                                <div class="newsletter-widget">
                                    <p>You can opt out of our newsletters at any time. See our <a href="#">privacy policy</a>.</p>
                                    <form class="form-inline" role="search">
                                        <div class="form-1">
                                            <input type="text" class="form-control" placeholder="Enter email here..">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>
                                    </form>
                                </div><!-- end newsletter -->
                            </div><!-- end widget -->


                        </div><!-- end sidebar -->
                    </div><!-- end row -->
                </div><!-- end boxed -->
            </div><!-- end container -->
        </section>

{% endblock %}