{% load static %}
{% load crispy_forms_tags %}
<!doctype html>

<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>


  <!-- Latest compiled and minified CSS -->








    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Meta -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/logo_head.png' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/logo_head.png' %}">

	<!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">

    <!-- Custom & Default Styles -->
    <style>
         @font-face {
      font-family: 'Arvo-auto';
      font-display: auto;
      src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    }
    </style>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">


	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min{% static '.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

</head>
<body>
  <a href="http://startup-africa.com/.well-known/acme-challenge/lmhXRUasMUhMLj5ugDHOvV7VRTbRJinkAJE-dm_eSN8">
    <a href="http://www.startup-africa.com/.well-known/acme-challenge/N0J05kisoH4oyhspJDvWxP5sSslwL5nYMZ9wPrQl_VA">



    <div id="wrapper">
        <!-- BEGIN # MODAL LOGIN -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Begin # DIV Form -->
                    <div id="div-forms" >
                        <form id="login-form" action="{% url 'search' %}" method="get">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="flaticon-add" aria-hidden="true"></span>
                            </button>
                            <div class="modal-body">
                                <input class="form-control" name="search_term" type="text" placeholder="What you are looking for?">
                            </div>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
        <!-- END # MODAL LOGIN -->

        <header class="header affix">

            <div class="container">
                <nav class="navbar navbar-default yamm">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="">
                            <a href="{% url 'home' %}"  class="navbar-brand" >
                                <img src="{% static 'images/logo.png' %}" class="custom" alt="">
                            </a>
                        </div>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="{% url 'home' %}">Home</a></li>
                          <li><a href="{% url 'articles_list' %}">Articles</a></li>

                            <li class="dropdown hassubmenu">
                                <a href="{% url 'listing_home' %}" class="dropdown-toggle"  >Start-ups <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">


                                    <li> <a href="{% url 'listing_list' %}">All</a></li>


                                </ul>
                            </li>

                            <li><a href="{% url 'events' %}">Events</a></li>


                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li class="iconitem"><a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-search"></i></a></li>



                            {% if request.user.is_authenticated %}
                            <li class="dropdown hassubmenu iconitem">
                                <a href="#" class="dropdown-toggle shopicon" data-toggle="dropdown" role="button" aria-expanded="false">Account </a>
                                <ul class="dropdown-menu" role="menu">

                                    <li><a href="{% url 'profile' %}">Dashboard</a></li>

                                    <li><a href="{% url 'profile_update' %}">Profile update</a></li>
                                    <li><a href="{% url 'logout' %}" title="">Logout</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li> <a href="{% url 'login' %}" class=" shopicon" ><i class="fa fa-sign-in"></i></a></li>
                             {% endif %}
                        </ul>
                    </div>
                </nav><!-- end navbar -->
            </div><!-- end container -->
        </header>




<br><br><br>
{% if messages %}

<div class="alert success ">

  <span class="closebtn">&times;</span>
    {% for message in messages %}
    <p align="center"> <strong>Success!</strong> {{ message}}</p>
    {% endfor %}
</div>
{% endif %}

        {% block content %}
        {% endblock %}












        <footer class="section footer noover">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-8">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Subscribe Our Newsletter</h3>
                            <div class="newsletter-widget">
                                <p>You can opt out of our newsletters at any time.<br> See our <a href="#">privacy policy</a>.</p>
                                <form class="form-inline" name="contactForm" id="contactForm" method="post">
                                    {% csrf_token %}

                                    <div class="col-md-12">
                                        {{ sub|crispy }}

                                    </div>
                                    </form>

                            </div><!-- end newsletter -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Join us today</h3>
                            <p>Would you like to earn your profits by joining our team? Join us without losing time.</p>
                            <a href="{% url 'list_create' %}" class="readmore">Register Your Business</a>
                        </div><!-- end widget -->
                    </div><!-- end col -->



                    <div class="col-lg-2 col-md-2">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Support</h3>
                            <div class="list-widget">
                                <ul>
                                    <li><a href="{% url 'term_of_use' %}">Terms of Use</a></li>

                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                    <li><a href="#">Advertise with Us</a></li>
                                    <li><a href="#">Join our Team</a></li>

                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->



    <!-- jQuery Files -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/animate.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- VIDEO BG PLUGINS -->
    <script src="{% static 'js/videobg.js' %}"></script>
    <script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
</script>

</body>
</html>
