{% extends 'base.html' %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block content %}


<br><br><br>


        <section class="section gb nopadtop">

            <div class="container">
                <div class="boxed">

                    <div class="blog-wrapper clearfix">
                                    <div class="blog-meta list-inline">

                                        <h3 align="center">{{ instance.company_name}}</h3>
                                         <p align="center"><small><a href="#">{{ instance.country}}</a></small> |
                                        <a href="{{ instance.category.get_absolute_url }}">{{ instance.category }}</a>
                                        </p>

                                    </div><!-- end blog-meta --></div>
                    <div class="row">

                        <div class="sidebar col-md-4">
                            <div class="widget clearfix">
                                <div class="banner-widget">
                                    {% if instance.logo %}
                                    {% thumbnail instance.logo "400x300" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" class="img-responsive img-rounded">
                                    {% endthumbnail %}
                                    {% endif %}

                                </div>
                            </div>

                            {% if instance.tags %}
                            <div class="widget clearfix">
                                <h3 class="widget-title">Products</h3>
                                <div class="post-widget">

                                        <div class="media-body">

                                            <div class="blog-meta">
                                                <ul class="list-inline">
                                                     {% for tag in instance.tags.all %}

                                    <li><a href="{% url 'list_tag' tag.slug%}"> {{ tag.name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div><!-- end blog-meta --><hr class="invisible">
                                        </div>
                                    {% endif %}

                                    <table class="table">
                                        <h3 class="widget-title"><hr>Contact information</h3>
                                            <tbody>
                                                <tr>
                                                    <td><strong>Address</strong></td>
                                                    <td>{{ instance.street }}</td>
                                                </tr>
                                                <tr>
                                                     <td><strong>City</strong></td>
                                                    <td>{{ instance.city }}</td>
                                                </tr>

                                                    <td><strong>Country</strong></td>
                                                    <td>{{ instance.country }}</td>
                                                </tr>
                                                <tr>
                                                     <td><strong>Contact</strong></td>
                                                    <td>{{ instance.phone_number}}</td>
                                                </tr>
                                                                                            <tr>
                                                     <td><strong>Email</strong></td>
                                                    <td>{{ instance.email}}</td>
                                                </tr>


                                            </tbody>
                                        </table>


                                </div><!-- end post-widget -->
                            </div><!-- end widget -->
                        </div>










                        <div class="col-md-8">
                            <div class="content blog-list">
                                <div class="blog-wrapper clearfix">
                                    <div class="blog-meta list-inline">



                                    </div><!-- end blog-meta -->



                                    <div class="blog-desc-big">
                                          {% if instance.motto %}
                                            <blockquote class="text-center">
                                            {{ instance.motto}}
                                            </blockquote>
                                            {% endif %}
                                        <p>{{ instance.description }}</p>

                                    </div><!-- end desc -->
                                </div><!-- end blog -->
                            </div><!-- end content -->









                            <div class="content boxed-comment clearfix">
                                        <h3 align="center">{{ comments.count }} Review{{ comments.count|pluralize }}</h3>

                                          {% for comment in comments %}
                                    <div class="media">
                                        <p class="pull-right"><small>{{ comment.timestamp|timesince}} ago,</small></p>
                                        <div class="media-body">
                                            <h4 class="media-heading user_name">{{ comment.user}}</h4>
                                            <p>{{ comment.content }}</p>

                                        </div><hr>
                                    </div>
                                    {% endfor %}

                            </div><!-- end content -->





                                        <hr class="invisible">
                            <div class="content boxed-comment clearfix">

                                        <form class="big-contact-form row" role="search" name="contactForm" id="contactForm" method="post">
                                            {% csrf_token %}
                                            <div class="col-md-12">
                                                <h4 align="center">Add review</h4>
                                                <p>Your email address will not be published. </p>
                                                {{ comment_form|crispy }}
                                                 <input  class="btn btn-primary" type="submit" value="Review">
                   <input type="hidden" name="next" value="{{ next }}">
                                            </div>

                                        </form>
                                    </div>













                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end boxed -->
            </div><!-- end container -->


        </section>


{% endblock %}