{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Register
{% endblock %}


{% block content %}



<section class="section gb ">
            <div class="container">
                <div class="boxed">
                    <div class="row">
                        <div class="col-md-8">




   <div class="content boxed-comment clearfix">
       <h4 align="center">Business Registration Form</h4>


         <form class="big-contact-form" method="post" enctype="multipart/form-data">


      {% csrf_token %}
      {{ form|crispy}}

<a href="{% url 'term_of_use' %}">Terms and Conditions</a><br>

     <button type="submit" class="btn btn-primary">Register</button>
             <input type="hidden" name="next" value="{{ next }}"> </form>


     </div>




                        </div>
                    </div>
                </div>
            </div>
</section>

{% endblock %}
