{% extends 'base.html' %}
{% load static %}
{% block title %}
StartUps
{% endblock %}

{% block content %}
 <section class="parallax event-section" data-stellar-background-ratio="0.5" style="background-image:url('{% static 'upload/listing.jpg' %}');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message event-title text-center">
                            <h3>Explore through thousands of African startups</h3>
                            <p>21 - 26 Aug, 2018, San Francisco, CA - Limited number of guests</p>
                            <a href="{% url 'listing_list' %}" class="btn btn-primary">View Startups</a>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
                <div class="slider-bottom">
                <span>Search <i class="fa fa-angle-down"></i></span>
            </div>
            </div><!-- end container -->
        </section><!-- end section -->







        <section class="section bgcolor2">
            <div class="container">

                <div class="row callout">
                    <div class="newsletter-widget" align="center">
                           <p> Search Startups </p>
                               <form class="form-inline" role="search" action="{% url 'listing_search' %}">
                                    <div class="form-1">

                                        <div class="custom-box ">
                                     <input class="custom-txt" type="text" name="Keywords" placeholder="Type to search">
                                     <a class="custom-btn" href="#">
                                         <i class="fa fa-search"></i>
                                     </a>
                                 </div><hr class="invisible"><br>


                                            <select class="btn btn-primary" name="country">
                                            <option selected="True" disabled="disabled">Country (All)</option>
                                                {% for key,value in country_choice.items %}

                                                <option value="{{ key }}">{{ value }}</option>

                                                {% endfor %}
                                         </select>

                                    </div>
                                </form>

                            </div><!-- end newsletter -->
                    <h1 class="text-center"> <small> <a href="{% url 'listing_list' %}" class="readmore " >View All</a></small></h1>
                </div><!-- end row -->
                </a>
            </div><!-- end container -->
        </section>




{% endblock %}
















